.sec1{
display: flexs;
height: 90vh;
align-items: center;
gap: 50px;

}
.sec1-1{
    margin-left: 100px;
}
.sec1-1 img{
   width:400px;
   border-radius: 50%;
}
.sec1-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec1-2-1{
    font-weight: 600;
}
h1{
    font-size: 50px;
    color:orange;
}
.sec1-2-3{
    font-weight: 600;
    font-size: 22px;
}
p{
    font-size: 18px;
    width: 90%;
}
.btns{
    display: flex;
    gap: 20px;
}
.btns > :nth-child(1):hover{
    background-color: black;
    color: white;

}
.btns > :nth-child(2):hover{
    background-color: black;
    color: white;
}

.btns > :nth-child(1){
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btns > :nth-child(2){
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social{
    display: flex;
    gap: 20px;
}
.social img{
    width: 30px;
    cursor: pointer;
    transition: all 0.3s ease;;

}
.social img:hover{
    transform: scale(0.9);

}