.sec2{
display: flex;
flex-direction: column;
align-items: center;
}
.sec2-1{
display: flex;
flex-direction: column;
align-items: center;
}

.sec2-1 >:nth-child(1){
    font-weight: 600;
}
.sec2-2{
    display: flex;
    align-items: center;
}
.sec2-2-1 img{
    width: 300px;
    border-radius: 50%;


}
